/* Reset default margin and padding */
body, h1, select {
    margin: 0;
    padding: 0;
}

/* Set modern font families */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #000; /* Set main background to black */
    color: #f00; /* Neon red text color */
}

/* Calendar styling */
#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-top: 20px;
}

.calendar-day {
    border: 1px solid #f00; /* Neon red border color */
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #000; /* Dark background color */
    color: #fff; /* White text color */
}

.calendar-day-number {
    font-size: 16px;
    margin-bottom: 5px;
}

.engineer-name {
    font-size: 14px;
    white-space: nowrap;
    margin-top: auto; /* Pushes the engineer name to the bottom */
    transition: filter 3s; /* Longer transition duration for filter property */
}

.engineer-name:hover {
    filter: drop-shadow(0 0 20px #ff0); /* Larger and longer-lasting glow effect with yellow color */
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

select {
    font-size: 16px;
    padding: 8px;
    border: 1px solid #f00; /* Neon red border color */
    border-radius: 4px;
    background-color: #000; /* Dark background color */
    color: #f00; /* Neon red text color */
    cursor: pointer;
}

option {
    font-size: 16px;
    background-color: #000; /* Dark background color */
    color: #f00; /* Neon red text color */
}


